.item-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .item-details-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  .item-details-title2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  
  .item-details-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }